:root {
  --yellow: #FFD521;
  --blue: #107DC0;
  --black: #1D1D1D;
}

body {
  background: var(--yellow);
}

main {
  min-height: calc(100vh - 370px);
}

.donut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.donut-container > a > img {
  height: 100px;
  animation: spin 10s linear infinite;
} 

h1 {
  text-align: center;
  padding: 10px 4px;
  margin: 0 0 20px 0;
  background: var(--blue);
}

h2 {
  text-align: center;
  padding: 10px 4px;
  margin-top: 15px;
}

h3 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logout_message {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.logout_btn {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

.blog_author {
  font-size: large;
  font-weight: bold;
}

footer {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: var(--yellow);
  width: 100%;
  background: var(--black);
  -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
}

.kang {
  position: absolute;
  top: -110px;
  right: 70px;
  height: 150px;
}

.comment_button {
  text-align: center;
}

.blog-card {
  min-height: 270px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.blog-card > h3 {
  color: var(--black);
  font-size: 1.8rem;
}

.blog-card > p {
  color: var(--black);
}

.blog-card > a {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

.blog-card > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

.blog-card > a:hover {
  
  color:  #ED5AA0;
}

.blog-card-footer {
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 8px;
}

.blog-card-footer > p {
  margin: 0;
}

.blog-card-footer > p + p {
  margin-top: 4px;
}

.custom-nav-outer {
  background-color: var(--black);
  -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
}

.custom-nav {
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
}

.custom-nav > a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--yellow);
}

.custom-nav > a:hover {
  color: #ED5AA0
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.btn {
  background: var(--black);
  color: var(--yellow);
  min-width: 260px;
  
}

.btn:hover {
  color: #ED5AA0;
    
}

.register-warning {
margin-top: 5rem;
font-size: 30px;
font-weight: bold;
}



/* Mobile responsive */
@media screen and (max-width: 800px) {

  .custom-nav-outer {
   font-size: 2px;
  }
}
