:root {
  --yellow: #FFD521;
  --blue: #107DC0;
  --black: #1D1D1D;
}

body {
  background: var(--yellow);
}

main {
  min-height: calc(100vh - 370px);
}

.message-container {
  text-align: center;
  padding-left: 0px;
  background-color: green; 
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* donut image */
.donut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.donut-container > a > img {
  height: 100px;
  animation: spin 10s linear infinite;
} 

/* Character detail */
.character-detail-card {
  max-width: 900px;
margin: 0 auto;
  
}

.character-img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: bottom;
}
/* Header styling */
h1 {
  text-align: center;
  padding: 10px 4px;
  margin: 20px 0 20px 0;
}

h2 {
  text-align: center;
  padding: 10px 4px;
  margin-top: 15px;
}

h3 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* logout */
.logout_message {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.logout_btn {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

.blog_author {
  font-size: large;
  font-weight: bold;
}
/* footer */
footer {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: var(--yellow);
  width: 100%;
  background: var(--black);
  -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
}

.kang {
  position: absolute;
  top: -110px;
  right: 70px;
  height: 150px;
}

.comment_button {
  text-align: center;
}

/* Blog posts */

.bd-placeholder-img, .card-img-top {
  width: 100%;
  height: 250;
}

.blog-card {
  min-height: 270px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.blog-card > h3 {
  color: var(--black);
  font-size: 1.8rem;
}

.blog-card > p {
  color: var(--black);
}

.blog-card > a {
  font-weight: bold;
  text-decoration: none;
}

.blog-card > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

.blog-card > a:hover {
  color:  #ED5AA0;
}

.blog-card-footer {
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 8px;
}

.blog-card-footer > p {
  margin: 0;
}

.blog-card-footer > p + p {
  margin-top: 4px;
}

/* Character cards */
.character-card {
  min-height: 150px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.character-card > h3 {
  color: var(--black);
  font-size: 1.8rem;
}

.character-card > p {
  color: var(--black);
}

.character-card > a {
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}

.character-card > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

.character-card > a:hover {
  color:  #ED5AA0;
}

/* navigation */

.custom-nav-outer {
  background-color: var(--black);
  -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.7);
}

.custom-nav {
  display: flex;
  height: 70px;
  font-size:5vw;
  justify-content: space-evenly;
  align-items: center;
}

.custom-nav > a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--yellow);
}

.custom-nav > a:hover {
  color: #ED5AA0
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* buttons */
.btn {
  background: var(--black);
  color: var(--yellow);
  min-width: 260px;
  
}

.btn:hover {
  color: #ED5AA0;
    
}


.btn-edit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-danger {
  display: block;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.register-warning {
margin-top: 5rem;
font-size: 30px;
font-weight: bold;
}

/* hide email display for registration */
#id_email {
  display: none;
}

label[for='id_email']{
  display: none;
}


.character-quote {
  font-size:larger;
  font-weight: bold;
}

.delete_char {
  text-align: center;
  font-size: larger;
}

.card-blog-details {
  margin: 40px;
}

.logout_message {
  margin-top: 150px;
}

/* Mobile responsive */
@media screen and (max-width: 800px) {

  .custom-nav-outer {
    font-size:5vw
  }

  .character-detail-card {
  margin: 20px;
  
}

.custom-nav > a { 
  font-size:4.7vw;
}


.logout_btn {
  margin-top: 100px;
  font-weight: bolder;
}

.kang {
  position: absolute;
  top: -100px;
  right: 10px;
  height: 120px;
}

}