{% extends 'base.html' %}
{% block title %}Comment On Blog Post
{% endblock%}
{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <h2>Add Comment</h2>
    <br />

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary btn-lg">Add Comment</button>
    </div>

    
    {% else %}


    <div class="container text-center register-warning">
        You're not allowed here... <a class="" href="{% url 'account_signup' %}"> Sign up </a> or get lost!
    </div>

    
    {% endif %}
   
</div>
{% endblock %}