{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }}</small>
<hr>
<br/>
{{ post.content | safe }}
<br/><br/>


<h2>Comments</h2>

<br/>
{% if not post.comments.all %}
    No Comments yet... <a href="{% url 'add_comment' post.pk%}">Add one</a>
{% else %}
    {% for comment in post.comments.all %}
    <strong>
        {{ comment.name }} -
        {{ comment.created_on }}
    </strong>
    <br/>
    {{ comment.body }}
    <br/> <br/>

    {% endfor %}
    <a href="{% url 'add_comment' post.pk%}">Add Comment</a>
    <br/> <br/>
{% endif %}
<br/>


{% endblock %}